x3x_SpringAdapterSOA12c/SpringAdapterSOA12c/SOA/WSDLs/IHello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="IHello"
     targetNamespace="http://utils.test/"
     xmlns:tns="http://utils.test/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema targetNamespace="http://utils.test/" xmlns:tns="http://utils.test/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="saySomething">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="saySomething" type="tns:saySomething"/>
            <xsd:complexType name="saySomethingResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="saySomethingResponse" type="tns:saySomethingResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="saySomethingInput">
        <wsdl:part name="parameters" element="tns:saySomething"/>
    </wsdl:message>
    <wsdl:message name="saySomethingOutput">
        <wsdl:part name="parameters" element="tns:saySomethingResponse"/>
    </wsdl:message>
    <wsdl:portType name="IHello">
        <wsdl:operation name="saySomething">
            <wsdl:input message="tns:saySomethingInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:saySomethingOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
